## Python Practice 2

## Numbers

### Question 1
Insert the correct syntax to convert x into a floating point number.

In [2]:
x = 5

In [3]:
x

5

In [5]:
type(x)

int

In [12]:
# Write your code here

#### Answer

In [7]:
float(x)

5.0

In [8]:
x = float(x)

In [9]:
x

5.0

In [10]:
type(x)

float

## Lists

### Question 2
Print the second item in the fruits list.

In [11]:
fruits = ["apple", "banana", "cherry"]

In [12]:
fruits

['apple', 'banana', 'cherry']

In [14]:
type(fruits)

list

In [12]:
# Write your code here

#### Answer

In [29]:
fruits[1]

'banana'

### Question 3
Change the value from "apple" to "kiwi", in the fruits list.

In [15]:
fruits = ["apple", "banana", "cherry"]

In [16]:
fruits

['apple', 'banana', 'cherry']

In [12]:
# Write your code here

#### Answer

In [17]:
fruits[0] = 'kiwi'

In [18]:
fruits

['kiwi', 'banana', 'cherry']

#### This is a disclaimer, this works on lists, not on strings

In [19]:
string_example = "Apples"

In [20]:
string_example[0] = 'S'

TypeError: 'str' object does not support item assignment

### Question 4
Use the append method to add "orange" to the fruits list.

In [48]:
fruits = ["apple", "banana", "cherry"]

In [21]:
fruits

['kiwi', 'banana', 'cherry']

In [12]:
# Write your code here

#### Answer

In [22]:
fruits.append("Oranges")

In [26]:
fruits

['kiwi', 'banana', 'cherry', 'Oranges']

### Sets

### Question 5
Add "orange" to the fruits set.

In [27]:
fruits = {"apple", "banana", "cherry"}

In [12]:
# Write your code here

#### Answer

In [169]:
# Use the add method to add "orange" to the fruits set.
fruits.add('orange')

In [134]:
fruits

{'apple', 'banana', 'cherry', 'orange'}

### Question 6
Use the correct method to add multiple items (more_fruits) to the fruits set.

In [29]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes", "apple", "apple"]

In [12]:
# Write your code here

#### Answer

In [30]:
fruits.update(more_fruits)

In [31]:
fruits

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

### Dictionaries

### Question 7
Use the get method to print the value of the "model" key of the car dictionary.

In [33]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [35]:
type(car)

dict

In [12]:
# Write your code here

#### Answer

In [36]:
car.get('model')

'Mustang'

### Question 8
Remove "model" from the car dictionary.

In [38]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}

In [39]:
# Use the pop method to remove "model" from the car dictionary.
car.pop("model")

'Mustang'

In [40]:
car

{'brand': 'Ford', 'year': 1964}

### Conditions

### Question 9
Print "Hello World" if a is greater than b.

In [43]:
a = 50
b = 10

In [12]:
# Write your code here

#### Answer

In [44]:
if a > b:
    print("Hello World")

Hello World

### Question 10
Print "Yes" if a is equal to b, otherwise print "No".

In [47]:
a = 50
b = 10

In [12]:
# Write your code here

#### Answer

In [48]:
if a == b:
    print('Yes')
else:
    print('No')

No

### Question 11
Print "1" if a is equal to b, print "2" if a is greater than b, otherwise print "3".

In [51]:
a = 50
b = 10

In [12]:
# Write your code here

#### Answer

In [50]:
if a == b:
    print('1')
elif a>b:
    print('2')
else:
    print('3')

2

### Question 12
Print "Hello" if a is equal to b, or if c is equal to d.

In [53]:
a = 50
b = 10
c = 20
d = 20

In [12]:
# Write your code here

#### Answer

In [249]:
if a == b or c == d:
    print('Hello')
else:
    print('Condition not met')

Hello

## For Loops

### Question 13
Loop through the items in the fruits list.

In [55]:
fruits = ["apple", "banana", "cherry"]

In [12]:
# Write your code here

#### Answer

In [57]:
for i in fruits:
    print(i + ' something')

apple something
banana something
cherry something

More Explanation

In [58]:
name = 'Siddharth'

In [59]:
for i in name:
    print(i + ' This is the value of i')

S This is the value of i
i This is the value of i
d This is the value of i
d This is the value of i
h This is the value of i
a This is the value of i
r This is the value of i
t This is the value of i
h This is the value of i

### Question 14
Use the range function to loop through a code set 6 times.

In [12]:
# Write your code here

#### Answer

In [60]:
for i in range(6):
    print(i)

0
1
2
3
4
5

### Question 15
Exit the loop when x is "banana".

In [64]:
fruits = ["apple", "banana", "cherry"]

In [12]:
# Write your code here

#### Answer

In [65]:
for x in fruits:
    print(x)
    if x == 'banana':
        print('banana found')
        break
    else:
        print('banana not found')

apple
banana not found
banana
banana found

### While Loops

### Question 17
Stop the loop if i is 3.

In [12]:
i = 1
while i < 5:
    print('I is not equal to 3')
    # Write your code here
    i += 1

#### Answer

In [67]:
i = 1
while i < 5:
    print('I is not equal to 3')
    if i == 3:
        break
    i += 1

I is not equal to 3
I is not equal to 3
I is not equal to 3

Explanation

In [68]:
# The logic
i = 0
while i < 10:
    print('still looping')
    i += 1

still looping
still looping
still looping
still looping
still looping
still looping
still looping
still looping
still looping
still looping

In [69]:
a = 10
for i in range(10):
    print('The loop number is ' + str(i))
    a -= 1
    print('The value of a now is ' + str(a))

The loop number is 0
The value of a now is 9
The loop number is 1
The value of a now is 8
The loop number is 2
The value of a now is 7
The loop number is 3
The value of a now is 6
The loop number is 4
The value of a now is 5
The loop number is 5
The value of a now is 4
The loop number is 6
The value of a now is 3
The loop number is 7
The value of a now is 2
The loop number is 8
The value of a now is 1
The loop number is 9
The value of a now is 0

In [70]:
a

0

## Functions
Create a function that takes 2 string as input 'firstname' & 'lastname' and returns a single concatenated string back, add spaces between names

In [12]:
# Write your code here

#### Answer

In [71]:
def adding_names(fname, lname):
    full_name = fname + " " + lname
    print(full_name)

In [72]:
adding_names('Sid','Kot')

Sid Kot

In [73]:
adding_names('Spoorti','Sha')

Spoorti Sha

In [74]:
a = adding_names('Sid','Kot')

Sid Kot

In [75]:
a

In [76]:
type(a)

NoneType

#### What is the difference between printing and returning ? 
![Thinking](https://media3.giphy.com/media/lKXEBR8m1jWso/giphy.gif?cid=ecf05e478ayulrsqvnbc1lg5upups1iknrm0ncrnf5bgtq62&rid=giphy.gif&ct=g)

In [77]:
def adding_names(fname, lname):
    full_name = fname + " " + lname
    return full_name

In [78]:
a = adding_names('Sid','Kot')

In [79]:
a

'Sid Kot'

In [81]:
type(a)

str